<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GeradorBackup.Properties.Settings.connBackup" connectionString="Data Source=WINDOWSD;Initial Catalog=CASADOPASTOR_DB;Persist Security Info=True;User ID=sa;Password=passwd" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
